body, html {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Fira Mono', monospace;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#pulse {
    width: 20px;
    height: 20px;
    background-color: #ff0033;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.hidden {
    display: none;
}

#content {
    text-align: center;
    padding: 20px;
}

#quoteText {
    font-size: 6vw;
    margin-bottom: 10px;
    position: absolute;
    max-width: 90vw;
}

@media (max-width: 600px) {
    #quoteText {
        font-size: 8vw;
    }
}
